{% extends 'base.html' %}
{% block content %}
<h1 class="title">Challenge 1</h1>
<div class="block">
  This challenge is dead simple.
  This web page already has the flag in it.
  Figure out what it is and submit it.
</div>
<div class="block">HINT: v unir ab pbzzrag ba guvf synt</div>
<form action="/stop_challenge" method="post">
  <input class="input" type="hidden" name="url" value="/challenge1">
  <div class="field">
    <div class="control">
      <input class="button is-danger" type="submit" value="Stop this Challenge">
    </div>
  </div>
</form>
<!-- the flag is piccadilly_circus -->
{% endblock %}
