{% extends 'base.html' %}
{% block content %}
<section class="section">
  <h1 class="title">Submit a Flag</h1>
  <form method="POST" action="/leaderboard">
    {{ form.csrf_token }}

    <div class="field is-grouped">
      <div class="control">
        {% if form.flag.errors %}
        {{ form.flag(class="input is-danger") }}
        {% else %}
        {{ form.flag(class="input") }}
        {% endif %}
      </div>
      <div class="control">
        <input type="submit" class="button is-success" value="Capture">
      </div>
      {% if form.flag.errors %}
        {% for error in form.flag.errors %}
          <p class="help is-danger">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>
  </form>
</section>

<section class="section">
  <h1 class="title">Current Leaderboard</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Flags Captured</th>
        <th>Total</th>
      </tr>
    <thead>
    <tbody>
      {% for row in leaderboard %}
      <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.captured }}</td>
        <td>{{ row.total }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{% endblock %}
