{% extends 'base.html' %}
{% block content %}
<h1 class="title">Current Leaderboard</h1>
<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Flags Captured</th>
      <th>Total</th>
    </tr>
  <thead>
  <tbody>
    {% for row in leaderboard %}
    <tr>
      <td>{{ row.name }}</td>
      <td>
	<ul>
          {% for challenge_name in row.captured.split(',') %}
          <li>{{ challenge_name }}</li>
	  {% endfor %}
	</ul>
      </td>
      <td>{{ row.total }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
