{% extends 'base.html' %}
{% block content %}
<h1 class="title">Please log in to continue</h1>
<div class="columns">
  <div class="column">
    <form action="/login" method="post">
      {{ form.csrf_token }}

      <!-- Username -->
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Username" name="username">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>

      <!-- Password -->
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Password" name="password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>

      <!-- Login button -->
      <div class="field">
        <p class="control">
          <input class="button is-success" type="submit" value="Login">
        </p>
      </div>
    </form>
  </div>

  <div class="column"></div>
  <div class="column"></div>

</div>
{% endblock %}
