{% extends 'base.html' %}
{% block content %}
<h1 class="title">Manage Users</h1>

<h2 class="is-size-4">Add User</h2>
<form action="/manage_users" method="post">
  {{ form.csrf_token }}
  <div class="columns">

    <!-- Username -->
    <div class="column">
      <div class="field">
        {{ form.username.label(class="label") }}
        <div class="control">
          {% if form.username.errors %}
          {{ form.username(class="input is-danger") }}
          {% else %}
          {{ form.username(class="input") }}
          {% endif %}
        </div>
        {% if form.username.errors %}
          {% for error in form.username.errors %}
          <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <!-- Password -->
    <div class="column">
      <div class="field">
        {{ form.password.label(class="label") }}
        <div class="control">
          {% if form.password.errors %}
          {{ form.password(class="input is-danger") }}
          {% else %}
          {{ form.password(class="input") }}
          {% endif %}
        </div>
        {% if form.password.errors %}
          {% for error in form.password.errors %}
          <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <!-- Role -->
    <div class="column">
      <div class="field">
        {{ form.role.label(class="label") }}
        <div class="control">
          <div class="select">
            {% if form.role.errors %}
            {{ form.role(class="is-danger") }}
            {% else %}
            {{ form.role }}
            {% endif %}
          </div>
        </div>
        {% if form.role.errors %}
          {% for error in form.role.errors %}
          <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="field is-grouped">
    <div class="control">
      <input class="button is-link" type="button" onclick="generatePass()" value="Generate Random Password">
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Create">
    </div>
  </div>

</form>

<script>
/* Function to generate random password: https://www.geeksforgeeks.org/how-to-generate-a-random-password-using-javascript */
function generatePass() {
    let pass = '';
    let str = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789';
 
    for (let i = 1; i <= 8; i++) {
        let char = Math.floor(Math.random() * str.length + 1);
        pass += str.charAt(char);
    }

    document.getElementById("password").value = pass;
}
</script>

<br>
<h2 class="is-size-4">Current Users</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Role</th>
      <th>Logged In?</th>
      <th>Active Challenges</th>
      <th>Minutes Remaining</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for user in user_list %} 
    <tr>
      <td>{{ user.id}}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.logged_in }}</td>
      <td>{{ user.active_challenge_count }}</td>
      <td>{{ user.time_remaining }}</td>
      <td><a href="/edit_user?id={{ user.id }}">Manage</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
