{% extends 'base.html' %}
{% block content %}
<h1 class="title">Status</h1>

<h2 class="title">Single-container Environments</h2>
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>container_id</th>
      <th>start_time</th>
      <th>end_time</th>
    </tr>
  </thead>
  <tbody>
  {% for env in single_envs %} 
    <tr>
      <td>{{ env[0] }}</td>
      <td>{{ env[1] }}</td>
      <td>{{ env[2] }}</td>
      <td>{{ env[3] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<h2 class="title">Multi-container Environments</h2>
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>dir</th>
      <th>prefix</th>
      <th>start_time</th>
      <th>end_time</th>
    </tr>
  </thead>
  <tbody>
  {% for env in multi_envs %} 
    <tr>
      <td>{{ env[0] }}</td>
      <td>{{ env[1] }}</td>
      <td>{{ env[2] }}</td>
      <td>{{ env[3] }}</td>
      <td>{{ env[4] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
