{% extends 'base.html' %}
{% block content %}
<h1 class="title">Welcome!</h1>
<div class="block">
  This Cyber Range is designed to provide an environment in which to practice offensive security.
  Click on "Challenges" in the navbar to get started.
  In standard CTF fashion, each challenge has a flag in it that you are trying to find.
  You can run one challenge at a time.
  Once you are ready to switch challenges, stop the running one and the full list will become available again.
  Sessions are limited to 60 minutes, after which you will be logged out and your challenge environments will be shut down.
  The time you have remaining is shown in the upper right-hand corner.
</div>
<div class="block">
  Good Luck!
</div>
{% endblock %}
